# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


node_modules/
.pnpm/
.pnp/
.pnp.js
client/pnpm-lock.yaml

npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage/

client/build/
dist/

server/.env
.env.local
client/.env.production
client/.env.development.local
client/.env.test.local
client/.env.production.local

.DS_Store
Thumbs.db

*.log
.vercel